<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>编码助手</title>
  <link rel="icon" type="image/png" href="icon.png">
  <!-- 引入Element UI的CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.15.6/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">  
</head>
<body>

<div id="app">
  <!-- 你的Vue组件将在这里渲染 -->
  <div style="text-align: left;">
    <img src="images/icon.webp" alt="Your Image" style="display: inline-block; vertical-align: middle;">
    <h1 style="display: inline-block; vertical-align: middle; margin-left: 10px;">NSTC Copilot</h1>
  </div>
  <!-- 其他内容 -->
</body>
  <el-row :gutter="20">
    <el-col :span="12">
      <el-select v-model="selectedTask" placeholder="任务选择" class="my-border">
        <el-option
          v-for="task in tasks"
          :key="task.value"
          :label="task.label"
          :value="task.value"                    
          >
        </el-option>
      </el-select>
      <el-button @click="showInstructions = true" size="large"><i class="el-icon-question"></i></el-button>
    </el-col>
    <el-col :span="12">
      <el-select v-model="selectedModel" placeholder="模型选择" class="my-border">
        <el-option
          v-for="model in models"
          :key="model.value"
          :label="model.label"
          :value="model.value"          
          >
        </el-option>
      </el-select>
      
      <el-select v-model="selectedAssistant" placeholder="跳转" @change="handleAssistantChange">
        <el-option label="知识库助手" value="kb"></el-option>
        <el-option label="代码库助手" value="helper"></el-option>
        <el-option label="需求助手" value="req"></el-option>
    </el-select>
    </el-col>
  </el-row>
  <el-row :gutter="20">
    <el-col :span="24">
        <div class="grid-content bg-white"></div>
    </el-col>
  </el-row>
  <el-row :gutter="20">
    <el-col :span="12">
      <el-input v-model="codeDescription" placeholder="对代码的描述" class="my-border"></el-input>
    </el-col>
    <el-col :span="12">
      <el-select v-model="communicationHistory" placeholder="大模型沟通历史" style="width: 100%" class="my-border">
        <el-option
          v-for="history in communicationHistories"
          :key="history.title"
          :label="history.title"
          :value="history.title"
        >
        </el-option>
      </el-select>
    </el-col>
  </el-row>
  <el-row :gutter="20">
    <el-col :span="24">
        <div class="grid-content bg-white"></div>
    </el-col>
  </el-row>
  <el-row :gutter="20">
    <el-col :span="12">
      <el-input
        ref="input"
        type="textarea"
        :rows="25"
        placeholder="源码输入"
        v-model="sourceCode" @blur="handleBlur"></el-input>        
      </el-input>       
      <!--<pre><code style="height: 300px">{{sourceCode}}</code></pre> -->
    </el-col>    
    <el-col :span="12">
      <el-input
        type="textarea"
        :rows="25"
        placeholder="代码评价"
        v-model="codeReview"
        :scrollbar="{ wrapStyle: 'overflow: hidden;', viewStyle: 'padding: 20px 40px;' }">
      </el-input>
      <pre v-html="highlightedCode"></pre>
    </el-col>
  </el-row>
  <el-row :gutter="20">
    <el-col :span="24">
        <div class="grid-content bg-white"></div>
    </el-col>
  </el-row>
  <el-row :gutter="20">
    <el-col :span="8">
      <el-button @click="clearSourceCode" type="info">清空源码输入框</el-button>
    </el-col>
    <el-col :span="8">
      <el-button @click="submitCode" type='primary' :disabled="disable_flag">提交给大模型</el-button>
    </el-col>
    <el-col :span="8">
      <el-button @click="copyCodeReview" type="success">复制大模型反馈</el-button>
    </el-col>
  </el-row>
  <el-dialog title="请输入源代码" :visible.sync="dialogVisible" width="80%" :before-close="handleClose">
    <el-form :model="sourceCodeForm" label-width="100px">
      <el-form-item label="源码输入">
        <el-input type="textarea" :rows="25" placeholder="源码输入" v-model="sourceCode" ></el-input>
      </el-form-item>
    </el-form>

    <span slot="footer" class="dialog-footer">
      <el-button @click="dialogVisible = false">取消</el-button>
      <el-button type="primary" @click="handleSubmit">保存</el-button>
    </span>
  </el-dialog>
  <el-dialog title="使用说明" :visible.sync="showInstructions" width="50%">
    <div>
        <p>1. 可以让大模型做3件事，“评价代码”是Code Review，“在代码中找问题”是找BUG，“代码重构建议”是重构建议</p>
        <p>2. “对代码的描述”是对代码进行简要描述，会出现在“大模型沟通历史”里，即本session都和大模型沟通了几次，每次的内容是什么</p>
        <p>3. 目前支持3个模型，DeepSeek Coder，GPT3.5-turbo，文心一言4.0</p>
        <p>4. 不同大模型的反馈时间不同，请耐心等待，不要重复提交，通常小于60秒</p></0>        
        <p>4. 点击“跳转”可以在几个助手功能之间跳转。</p>            
        <!-- 在这里添加更多的使用说明 -->
    </div>
    <span slot="footer" class="dialog-footer">
        <p>Last update: 2024-3-30 19:00</p>
        <el-button @click="showInstructions = false">我知道了</el-button>
    </span>
</el-dialog>
</div>

<!-- 引入Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/element-ui@2.15.6/lib/index.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/sql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/java.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/xml.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/python.min.js"></script>
<script src="./host.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<style>
    .grid-content {
      border-radius: 4px;
      min-height: 12px;
    }
    .my-border {
      border-radius: 4px;
      border: 1px solid #2730b0; /* 添加边框样式 */
    }
    .bg-purple {
      background: #9c27b0;
    }
    .bg-white {
        background: #f2f2f2;
    }
    .bg-purple-light {
      background: #e1bee7;
    }
    el-input[type="textarea"] {
      font-family: 'Courier New', monospace;
    }
    body {
      background-color: #f2f2f2; /* 设置背景颜色为浅灰色 */
    }
    h1 {
      display: inline-block;
      vertical-align: middle;
    }
    img {
      height: 3em; /* 使用标题的高度作为图片的高度 */
      width: auto; /* 根据高度等比缩放宽度 */
      margin-right: 10px; /* 设置图片和标题之间的间距 */
    }
    </style>
<script>
  //import {host_ip, login_host_ip} from './host.js';
new Vue({
  el: '#app',
  data() {
    return {
      tasks: [
        { value: 'evaluate', label: '评价代码' },
        { value: 'findProblem', label: '在代码中找问题' },
        { value: 'refactorSuggestion', label: '代码重构建议' }
      ],
      models: [
        //{ value: 'starFire', label: '讯飞星火3.5' },
        { value: 'deepSeek', label: 'DeepSeekCoder' },
        { value: 'gpt35', label: 'GPT 3.5 via Azure' },
        { value: 'ernie', label: '文心一言4.0'}
      ],
      selectedTask: 'evaluate',
      selectedModel: 'deepSeek',
      sourceCode: '',
      codeSaved: '',
      highlightedCode: '',
      codeReview: '',
      host: host_ip,
      login_host: login_host_ip,
      countdown: 60,
      codeDescription: '',
      communicationHistory: '',
      selectedAssistant:'',
      showInstructions:false,
      disable_flag: false,
      communicationHistories: [],
      initialLanguage: 'java',
      dialogVisible: false
    };
  },
  methods: {
    clearSourceCode() {
      this.sourceCode = '';
      //this.dialogVisible = true;
    },
    handleSubmit() {
      this.dialogVisible = false;
      hljs.highlightAll();      
    },
    async handleBlur() {
      const codeElement = this.$refs.input.$el.querySelector('textarea');
      const language = await this.detectLanguage(codeElement.value);
      console.log('detected language: ' + language)
      //hljs.highlightBlock(codeElement, language);
      //hljs.highlightElement(codeElement, language);
      hljs.highlightElement(codeElement);
      //hljs.highlightAll();
    },
    async detectLanguage(source) {
      // 实现代码类型检测逻辑，这里仅提供一个示例
      // 根据实际需求选择合适的代码检测库或方法

      // 示例使用 highlight.js 自带的检测方法，但可能不够准确，建议使用更专业的库如 `linguist`
      //console.log(source)
      const detectedLanguage = hljs.highlightAuto(source).language;
      console.log(detectedLanguage)

      // 如果有初始语言设置，优先使用
      return detectedLanguage || this.initialLanguage;
    },
    checkLogin() {
      const userKey = sessionStorage.getItem('userKey');
      fetch('http://' + this.login_host + ':5111/checkLogin', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json; charset=utf-8'
        },
        body: JSON.stringify({ userKey: userKey })
      })
      .then(response => {
        if (!response.ok) {
          if (response.status === 401) {
            if (confirm('请先登录，点击确定跳转到登录页面。')) {
              window.location.href = 'login.html';
            }    
          } else {
            throw new Error('Network response was not ok');
          }
        }
        // 可以在这里处理登录成功的情况
        storedString  = sessionStorage.getItem('cphistory');
        if ( storedString !== null) {
            this.communicationHistories = JSON.parse(storedString);     
        } else { 
            this.communicationHistories = []
        } 
      })
      .catch(error => {
        console.error('Error:', error);
      });
    },
  
    submitCode() {  
      this.disable_flag = true    
      this.countdown = 60
      this.codeReview = '提交代码段给大模型，等待反馈中。。。' + this.countdown + 's'
      console.log('提交代码', this.sourceCode, this.selectedTask, this.selectedModel);
      let timer = setInterval(() => {
        this.countdown -= 1
        this.codeReview = '提交代码段给大模型，等待反馈中。。。' + this.countdown + 's'// Update codeReview every second
        // Your code to fetch and update codeReview goes here
      }, 1000);

      // After 60 seconds, clear the interval
      setTimeout(() => {
        clearInterval(timer);        
        if (!this.codeReview.startsWith('来自大模型的反馈')) {
          this.codeReview = '超时：未收到反馈';
          this.disable_flag = false;
        }
      }, 60000);

      axios.post('http://' + this.host +':5009/ccpilot', {
        tasks: this.selectedTask,
        models: this.selectedModel,
        sourceCode: this.sourceCode
      }, {
        headers: {
          'Content-Type': 'application/json',
          'Access-Control-Allow-Origin': '*'
        }})
      .then(response => {
        this.codeReview = response.data;
        clearInterval(timer); // Stop the interval timer
        clearTimeout(timer); // Stop the timeout timer
        const title = this.codeDescription + ' - '
          + this.tasks.find(task => task.value === this.selectedTask).label + ' - ' 
          + this.models.find(model => model.value === this.selectedModel).label + ' - ' 
          + new Date().toLocaleTimeString();
        this.communicationHistories.push({ title, code: this.sourceCode, feedback: this.codeReview, subject: this.codeDescription});
        this.disable_flag = false;
        serializedObject = JSON.stringify(this.communicationHistories);
        sessionStorage.setItem('cphistory', serializedObject);
      })
      .catch(error => {
        console.error('Error submitting code:', error);
        this.disable_flag = false;
      });
    },    
    copyCodeReview() {
      const textarea = document.createElement('textarea');
      textarea.value = this.codeReview;
      document.body.appendChild(textarea);
      textarea.select();
      document.execCommand('copy');
      document.body.removeChild(textarea);
    },
    handleAssistantChange() {
        if (this.selectedAssistant === 'kb') {
            window.location.href = 'kb.html';
        } else if (this.selectedAssistant === 'helper') {
            window.location.href = 'helper.html';
        } else if (this.selectedAssistant === 'req') {
            window.location.href = 'req.html';
        }
    },
    highlightCode() {
      // 这里应该包含代码高亮的逻辑
      this.codeSaved = this.sourceCode
      this.sourceCode = Prism.highlight(this.sourceCode, Prism.languages.javascript, 'javascript');
      //this.highlightedCode = Prism.highlight(this.sourceCode, Prism.languages.python, 'python');
      //Prism.highlightAll()
    }
  },
  watch: {
    communicationHistory(newVal) {
      const selectedHistory = this.communicationHistories.find(history => history.title === newVal);
      if (selectedHistory) {
        this.sourceCode = selectedHistory.code;
        this.codeReview = selectedHistory.feedback;
        this.codeDescription = selectedHistory.subject;
      }
    }
  },
  mounted() {
    this.checkLogin(); // 页面加载完成后立即检查登录状态
  }
});
</script>

</body>
</html>