<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NSTC LLM Tool</title>
    <!-- 引入Element UI样式 -->
    <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/element-ui@2.15.6/lib/theme-chalk/index.css">
</head>

<body>
    <div id="app" style="display: flex; align-items: center;">
        <div style="flex: 1;">
            <el-form ref="loginForm" :model="loginForm" label-width="80px" @submit.native.prevent="handleLogin">
                <el-form-item label="用户名">
                    <el-input v-model="username" placeholder="用户名" style="width: 250px;"></el-input>
                </el-form-item>
                <el-form-item label="密码">
                    <el-input type="password" v-model="password" placeholder="密码" style="width: 250px;"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" native-type="submit">登录</el-button>
                </el-form-item>
                <el-form-item v-if="errorMessage" style="color: red;">{{ errorMessage }}</el-form-item>
            </el-form>
        </div>
        <div style="flex: 1;">
            <img src="images/banner.png" alt="Image" style="max-width: 100%; max-height: 100vh;">
        </div>
    </div>

  <!-- 引入Vue和Element UI脚本 -->
  <!-- 引入Vue和Element UI脚本 -->
  <script src="https://fastly.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://fastly.jsdelivr.net/npm/element-ui@2.15.6/lib/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    
  new Vue({
            el: '#app',
            data: {
                host:'localhost',
                username:'',
                password:'',
                isloading: false,
                errorMessage: null,
            },
            methods: {
                
                handleLogin() {
                    this.isLoading = true; // 开始加载数据
                    let loadingMessage = this.$message({ // 显示提示信息
                        message: '正在登录，请稍等...',
                        type: 'info',
                        duration: 0, // 设置为0则不会自动关闭
                        showClose: true // 显示关闭按钮
                    });
                    fetch('http://' + this.host + ':5111/login', {
                      method: 'POST',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        },
                        body: JSON.stringify({ username: this.username, password:this.password})
                    })
                        .then(response => {
                            if (response.ok) {
                                return response.json();
                            } else {
                                if (response.status === 401) {
                                    this.errorMessage = '用户名或密码错误，请重新登录'
                                    //window.location.href = 'login.html';
                                } else {
                                    throw new Error('Network response was not ok');
                                }
                            }
                        })
                        .then(data => {    
                            sessionStorage.setItem('userKey', data.key);
                            console.log(data.key)
                            // 跳转到copilot.html页面
                            window.location.href = 'test.html';   
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        })
                        .finally(() => {
                            this.isLoading = false; // 加载完成
                            this.$message.closeAll();
                            //setTimeout(() => {
                                
                            //}, 3000);                                                                                  
                        });
                        
                },
            }
        });

  </script>
</body>
</html>