<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NSTC LLM Tool</title>
    <!-- 引入Element UI样式 -->
    <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/element-ui@2.15.6/lib/theme-chalk/index.css">
</head>

<body>
    <div id="blank">
        <h1>欢迎使用九恒星大模型工具集</h1>
    </div>
    <div id="app" style="display: flex; align-items: center;" class="form-container">
        <div style="flex: 1;" >
            <el-form ref="loginForm" :model="loginForm" label-width="80px" @submit.native.prevent="handleLogin">
                <el-form-item label="用户名">
                    <el-input v-model="username" placeholder="用户名" style="width: 250px;"></el-input>
                </el-form-item>
                <el-form-item label="密码">
                    <el-input type="password" v-model="password" placeholder="密码" style="width: 250px;"></el-input>
                </el-form-item>
                <el-form-item label="功能">
                    <el-radio-group v-model="searchType">
                        <el-radio label="knowledge" title="用自然语言搜索知识库，包括履约项目经验库、G20票据FAQ和银企平台FAQ第一部分">知识库助手</el-radio>
                        <el-radio label="business" title="用自然语言搜索TAPD项目需求，包括所有司库、G20、N20和银企平台项目">需求助手</el-radio>                        
                        <el-radio label="code" title="用自然语言搜索代码库，包括N20 结算、核算、核心，金云2.0 收付款">代码库助手</el-radio>
                        <el-radio label="coding" title="让大模型为代码段找问题、进行评价、提重构建议，支持GPT3.5、DeepSeek、文心一言4.0、讯飞星火3.5">编码助手</el-radio>
                        <!-- <el-radio label="default">测试页面</el-radio> -->
                    </el-radio-group>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" native-type="submit">登录</el-button>
                    <el-button type="primary" @click="registerDialogVisible = true">注册</el-button>
                    <el-button type="primary" @click="changepasswordDialogVisible = true">修改密码</el-button>

                    <el-dialog title="注册" :visible.sync="registerDialogVisible"  @open="clearRegisterForm">
                        <el-form :model="registerForm" :rules="registerRules" ref="registerForm" label-width="70px">
                            <el-form-item label="用户名" prop="username">
                                <el-input v-model="registerForm.username" style="margin-top: 10px;"></el-input>
                            </el-form-item>
                            <el-form-item label="密码" prop="password">
                                <el-input type="password" v-model="registerForm.password" style="margin-top: 10px;"></el-input>
                            </el-form-item>
                            <el-form-item label="确认密码" prop="confirmPassword">
                                <el-input type="password" v-model="registerForm.confirmPassword" style="margin-top: 10px;"></el-input>
                            </el-form-item>
                        </el-form>                        
                        <el-form-item v-if="errorMessage1" :style="{ color: errorMessageColor1 }" style="margin-top: 10px;">{{ errorMessage1 }}</el-form-item>
                        <el-button type="primary" @click="handleRegister" style="margin-top: 10px;">提交</el-button>
                    </el-dialog>

                    <el-dialog title="修改密码" :visible.sync="changepasswordDialogVisible" @open="clearChangePasswordForm">
                        <el-form :model="changepasswordForm" :rules="changepasswordRules" ref="changepasswordForm" label-width="70px" style="margin-top: 10px;">
                            <el-form-item label="用户名" prop="username">
                                <el-input v-model="changepasswordForm.username" style="margin-top: 10px;"></el-input>
                            </el-form-item>
                            <el-form-item label="密码" prop="password">
                                <el-input type="password" v-model="changepasswordForm.password" style="margin-top: 10px;"></el-input>
                            </el-form-item>
                            <el-form-item label="确认密码" prop="confirmPassword">
                                <el-input type="password" v-model="changepasswordForm.confirmPassword" style="margin-top: 10px;"></el-input>
                            </el-form-item>
                        </el-form>
                        <el-form-item v-if="errorMessage2" :style="{ color: errorMessageColor2 }" style="margin-top: 10px;">{{ errorMessage2 }}</el-form-item>
                        <el-button type="primary" @click="handleChangePassword" style="margin-top: 10px;">提交</el-button>
                    </el-dialog>
                </el-form-item>
                <el-form-item v-if="errorMessage" :style="{ color: errorMessageColor }">{{ errorMessage }}</el-form-item>
            </el-form>
        </div>
        <div style="flex: 1;">
            <img src="images/banner.png" alt="Image" >
        </div>
    </div>
    <style>
        #app {
            display: flex;
            justify-content: center; /* 水平居中 */
            align-items: center; /* 垂直居中 */
            height: 60vh; /* 设置高度为视口高度，使内容垂直居中 */
        }
        #blank {
            display: flex;
            justify-content: center; /* 水平居中 */
            align-items: center; /* 垂直居中 */
            height: 20vh; /* 设置高度为视口高度，使内容垂直居中 */
        }
        #blank h1 {
            color: navy; /* 设置颜色为海军蓝 */
            text-align: left; /* 文字左对齐 */
        }
    </style>
    <style>
        .form-container {
            border: 1px solid #ccc; /* 添加浅色边框 */
            padding: 20px; /* 添加内边距 */
            border-radius: 5px; /* 添加圆角 */
            /* background-image: url('images/background.jfif'); /* 设置背景图片 
            background-size: cover; /* 背景图片铺满容器 
            background-repeat: no-repeat; /* 背景图片不重复 
            background-position: center; /* 背景图片居中 */
            background-color: #f2f2f2; /* 设置背景颜色为浅灰色 */
            opacity: 1; /* 设置透明度 */
            color: rgb(4, 44, 88); /* 设置字体颜色为明黄色 */
            /* text-align: right; /* 设置所有文本右对齐 */
        }
        .form-container img {
            margin-left: auto; /* 图片靠近边框右边 */
            max-width: 90%;
            max-height: 60vh;
            opacity: 0.8;
        }
    </style>
  <!-- 引入Vue和Element UI脚本 -->
  <!-- 引入Vue和Element UI脚本 -->
  <script src="https://fastly.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://fastly.jsdelivr.net/npm/element-ui@2.15.6/lib/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    
  new Vue({
            el: '#app',
            data: {
                //host:'127.0.0.1',
                //host:'10.101.9.50',
                host:'210.12.129.83',
                //login_host:'210.12.129.83',
                username:'',
                password:'',
                isloading: false,
                errorMessage: null,
                errorMessageColor: 'red',
                searchType:'knowledge',
                registerDialogVisible: false,
                registerForm: {
                    username: '',
                    password: '',
                    confirmPassword: ''
                },
                errorMessage1: '',
                errorMessageColor1: 'red',
                changepasswordDialogVisible: false,
                changepasswordForm: {
                    username: '',
                    password: '',
                    confirmPassword: ''
                },
                errorMessage2: null,
                errorMessageColor2: 'red',
            },
            methods: {
                clearRegisterForm() {
                    this.registerForm.username = '';
                    this.registerForm.password = '';
                    this.registerForm.confirmPassword = '';
                    this.errorMessage1 = '';
                    this.errorMessageColor1 = 'green';
                },
                clearChangePasswordForm() {
                    this.changepasswordForm.username = '';
                    this.changepasswordForm.password = '';
                    this.changepasswordForm.confirmPassword = '';
                    this.errorMessage2 = '';
                    this.errorMessageColor2 = 'green';
                },
                handleChangePassword() {
                    if (!/^[1-9]\d{4}$/.test(this.changepasswordForm.username)) {
                        this.errorMessage2 = '用户名必须是5位数字，且以1开头';
                        this.errorMessageColor2 = 'red';
                        return;
                    }
                    if (this.changepasswordForm.password !== this.changepasswordForm.confirmPassword) {
                        this.errorMessage2 = '密码和确认密码不一致';
                        this.errorMessageColor2 = 'red';
                        return;
                    }
                    this.isLoading = true; // 开始加载数据
                    let loadingMessage = this.$message({ // 显示提示信息
                        message: '正在注册，请稍等...',
                        type: 'info',
                        duration: 0, // 设置为0则不会自动关闭
                        showClose: true // 显示关闭按钮
                    });

                    // Call backend register service with username and password
                    // If successful response (status 200), show success message
                    // If user already exists (status 405), show error message
                    fetch('http://' + this.host + ':5111/changepwd', {
                      method: 'POST',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        },
                        body: JSON.stringify({ username: this.changepasswordForm.username, password:this.changepasswordForm.password})
                    })
                        .then(response => {
                            if (response.ok) {
                                this.errorMessage = '密码修改成功'                                
                                this.errorMessageColor = 'green'
                                return response.json();
                            } else {
                                if (response.status === 405) {
                                    this.errorMessage = '用户名不存在，修改密码失败'
                                    this.errorMessageColor = 'red'
                                    //window.location.href = 'login.html';
                                } else {
                                    throw new Error('Network response was not ok');
                                }
                            }
                        })
                        .then(data => {    
                            this.changepasswordDialogVisible = false;                           
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        })
                        .finally(() => {
                            this.isLoading = false; // 加载完成
                            this.$message.closeAll();                                                    
                        });
                },
                handleRegister() {
                    if (!/^[1-9]\d{4}$/.test(this.registerForm.username)) {
                        this.errorMessage1 = '用户名必须是5位数字，且以1开头';
                        this.errorMessageColor1 = 'red';
                        return;
                    }
                    if (this.registerForm.password !== this.registerForm.confirmPassword) {
                        this.errorMessage1 = '密码和确认密码不一致';
                        this.errorMessageColor1 = 'red';
                        return;
                    }
                    this.isLoading = true; // 开始加载数据
                    let loadingMessage = this.$message({ // 显示提示信息
                        message: '正在注册，请稍等...',
                        type: 'info',
                        duration: 0, // 设置为0则不会自动关闭
                        showClose: true // 显示关闭按钮
                    });

                    // Call backend register service with username and password
                    // If successful response (status 200), show success message
                    // If user already exists (status 405), show error message
                    fetch('http://' + this.host + ':5111/register', {
                      method: 'POST',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        },
                        body: JSON.stringify({ username: this.registerForm.username, password:this.registerForm.password})
                    })
                        .then(response => {
                            if (response.ok) {
                                this.errorMessage = '注册成功'
                                this.errorMessageColor = 'green'
                                return response.json();
                            } else {
                                if (response.status === 405) {
                                    this.errorMessage = '用户名已经存在，注册失败'
                                    this.errorMessageColor = 'red'
                                    //window.location.href = 'login.html';
                                } else {
                                    throw new Error('Network response was not ok');
                                }
                            }
                        })
                        .then(data => {    
                            this.registerDialogVisible = false;                                                        
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        })
                        .finally(() => {
                            this.isLoading = false; // 加载完成
                            this.$message.closeAll();                                                                    
                        });
                },
                handleLogin() {
                    this.isLoading = true; // 开始加载数据
                    let loadingMessage = this.$message({ // 显示提示信息
                        message: '正在登录，请稍等...',
                        type: 'info',
                        duration: 0, // 设置为0则不会自动关闭
                        showClose: true // 显示关闭按钮
                    });
                    fetch('http://' + this.host + ':5111/login', {
                      method: 'POST',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        },
                        body: JSON.stringify({ username: this.username, password:this.password})
                    })
                        .then(response => {
                            if (response.ok) {
                                return response.json();
                            } else {
                                if (response.status === 401) {
                                    this.errorMessage = '用户名或密码错误，请重新登录'
                                    this.errorMessageColor = 'red'
                                    //window.location.href = 'login.html';
                                } else {
                                    throw new Error('Network response was not ok');
                                }
                            }
                        })
                        .then(data => {    
                            sessionStorage.setItem('userKey', data.key);
                            console.log(data.key)
                            // 跳转到copilot.html页面
                            //window.location.href = 'test.html';   
                            // 根据选择的searchType跳转到不同页面
                            switch (this.searchType) {
                                case 'knowledge':
                                    window.location.href = 'kb.html';
                                    break;
                                case 'business':
                                    window.location.href = 'req.html';
                                    break;
                                case 'corporate':
                                    window.location.href = 'corporate.html';
                                    break;
                                case 'code':
                                    window.location.href = 'helper.html';
                                    break;
                                case 'coding':
                                    window.location.href = 'copilot.html';
                                    break;
                                default:
                                    window.location.href = 'test.html';
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        })
                        .finally(() => {
                            this.isLoading = false; // 加载完成
                            this.$message.closeAll();
                            //setTimeout(() => {
                                
                            //}, 3000);                                                                                  
                        });
                        
                },
            }
        });

  </script>
</body>
</html>