<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>需求助手</title>
    <!-- 引入Element UI样式 -->
    <!-- Tomcat: 'C:\Program Files\Apache Software Foundation\Tomcat 9.0\webapps\robot' -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.15.6/lib/theme-chalk/index.css">
</head>
<body>   
  <div id="app">
    <!-- <el-label>请输入问题</el-label>-->
    <el-input v-model="question" placeholder="请输入问题" style="width: 70%"></el-input>
    <el-button @click="showInstructions = true" size="large"><i class="el-icon-question"></i></el-button>
    <p></p>
    <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="答案数量">
            <el-input-number v-model="questionCount" :min="1" :max="100" :step="1" :defaultValue="20" @change="handleChange" label="答案数量" style="width: 140px;"></el-input-number>
        </el-form-item>
        <el-form-item label="相关度">
            <el-input-number v-model="similarityThreshold" :min="0.0" :max="1.5" :step="0.1" label="相关度" style="width: 140px;"></el-input-number>
        </el-form-item>
        <el-form-item label="">
            <el-checkbox v-model="bpflag">查BP</el-checkbox>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitQuestion">查询</el-button>
        </el-form-item>
        <el-form-item>
            <el-button @click="getList" type="info">项目列表</el-button>
        </el-form-item>   
        <el-select v-model="selectedHistory" placeholder="请选择历史问题" @change="showHistoryData">
            <el-option v-for="(item, index) in historyData" :key="index" :label="item.question" :value="index"></el-option>
        </el-select>
        <el-select v-model="selectedAssistant" placeholder="跳转" @change="handleAssistantChange" style="width: 140px;">
            <el-option label="知识库助手" value="kb"></el-option>
            <el-option label="代码库助手" value="helper"></el-option>
            <el-option label="编码助手" value="copilot"></el-option>
        </el-select>     
      </el-form>
      <el-dialog title="使用说明" :visible.sync="showInstructions" width="50%">
        <div>
            <p>1. 使用自然语言描述问题，越详细越好。</p>
            <p>2. 查询银企平台的需求时，要勾选“查BP”。</p>
            <p>3. 点击“项目列表”，展示目前需求库覆盖的TAPD项目，“序号”是链接，点击可以打开在相关TAPD项目，更新时间指TAPD需求导入需求库的时间。</p>
            <p>4. 点击“跳转”可以在几个助手功能之间跳转。</p> 
            <p>5. 相关度限制可以通过“相关度”控件进行调整，相似度数值越小，问题和答案之间的相关程度越<strong style="color:red">大</strong>，相关度限制值设置的越小，搜索到的结果可能就越少</p>            
            <p>6. “请选择历史问题”保存本session问题和答案历史，选择下拉框中的问题会直接加载答案列表。</p>
            <!-- 
            <p>4. 受后台逻辑限制，不一定每次都能返回“答案数量”个答案。</p>
            <p>5. 点击“方法体”内容，可以在弹窗中看到完整的代码。</p>
            <p>6. “注释”是通过大模型产生的，在代码源文件中没有。</p>
            <p>7. “序号”是链接，点击可以打开在Git上保存的源码（前提是你有码云仓库权限）。</p>            
			<p>9. 2024-3-22，搜索范围覆盖N20结算，N20核心，N20核算，金云2.0收付款 4个模块，共~15700方法，代码来自24-3-4，码云master分支。</p> -->           
            <!-- 在这里添加更多的使用说明 -->
        </div>
        <span slot="footer" class="dialog-footer">
            <p>Last update: 2024-3-30 19:30</p>
            <el-button @click="showInstructions = false">我知道了</el-button>
        </span>
    </el-dialog>

      <el-dialog title="项目列表" :visible.sync="dialogVisible" :width="dialogWidth">
        <el-table :data="prjtableData">
          <!-- <el-table-column prop="date" label="日期"></el-table-column>
          <el-table-column prop="name" label="姓名"></el-table-column>
          <el-table-column prop="address" label="地址"></el-table-column> -->
          <el-table-column prop="序号" label="序号" width="60">
            <template slot-scope="scope">
                <a :href="scope.row.URL" target="_blank">{{ scope.row.序号 }}</a>
            </template>
            </el-table-column>
            <el-table-column prop="ID" label="ID" width="100"></el-table-column>
            <el-table-column prop="名称" label="名称" width="150"></el-table-column>
            <el-table-column prop="系统" label="系统" width="200"></el-table-column>
            <el-table-column prop="更新时间" label="更新时间" width="150"></el-table-column>
            <el-table-column prop="管理员" label="管理员"></el-table-column>
        </el-table>
      </el-dialog>

    <el-table :data="tableData" style="width: 95%">
        <el-table-column prop="序号" label="序号" width="50">
            <template slot-scope="scope">
                <a :href="scope.row.URL" target="_blank">{{ scope.row.序号 }}</a>
            </template>
        </el-table-column>
        <el-table-column prop="项目" label="项目" width="150"></el-table-column>
        <el-table-column prop="需求顾问" label="需求顾问" width="100"></el-table-column>
        <el-table-column prop="标题" label="标题" width="300"></el-table-column>
        <el-table-column prop="内容" label="内容"></el-table-column>
    </el-table>
  </div>

    <!-- 引入Vue和Element UI脚本 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/element-ui@2.15.6/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./host.js"></script>
    <script> 
        //import {host_ip, login_host_ip} from './host.js';       
        new Vue({
            el: '#app',
            data: {
                question: '',
                questionCount: 20,  // 问题数量，默认值为10
                tableData: [],
                selectedOptions: [],  // 用户选择的多选选项
                full_options: [],  // 可以从后台服务获取的选项
                bpflag: false,
                dialogVisible: false,
                prjtableData: [],
                dialogWidth: '900px',
                host: host_ip,
                login_host: login_host_ip,
                showInstructions: false,
                similarityThreshold: 0.7,
                selectedAssistant:'',
                historyData:[]
            },
            methods: {
                getList() {
                axios.get("http://" + this.host + ":5009/getProjectList")
                    .then(response => {
                        this.prjtableData = response.data;
                        this.dialogVisible = true;
                    })
                    .catch(error => {
                        console.error("获取列表失败：", error);
                        this.$message({ // 显示提示信息
                            message: '获取列表失败',
                            type: 'error',
                            duration: 2000, // 设置为0则不会自动关闭
                            //showClose: true // 显示关闭按钮
                        });
                    });
                },
                showHistoryData(selectedIndex) {
                    // 根据选中的历史问题索引，显示对应的答案
                    this.tableData = this.historyData[selectedIndex].data;                
                },  
                checkLogin() {
                    const userKey = sessionStorage.getItem('userKey');
                    fetch('http://' + this.login_host + ':5111/checkLogin', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        },
                        body: JSON.stringify({ userKey: userKey })
                    })
                    .then(response => {
                        if (!response.ok) {
                        if (response.status === 401) {
                            if (confirm('请先登录，点击确定跳转到登录页面。')) {
                            window.location.href = 'login.html';
                            }    
                        } else {
                            throw new Error('Network response was not ok');
                        }
                        }
                        storedString  = sessionStorage.getItem('reqhistory');
                        if ( storedString !== null) {
                            this.historyData = JSON.parse(storedString);     
                        } else { 
                            this.historyData = []
                        } // 可以在这里处理登录成功的情况
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                    },
                /* fetchOptions() {
                // 从Flask服务器获取选项
                    axios.get("http://" + this.host + ":5003/options")
                        .then(response => {
                            this.full_options = response.data;
                            console.log(this.full_options)
                        })
                        .catch(error => {
                            console.error('Error fetching options:', error);
                        });
                }, */
                handleAssistantChange() {
                    if (this.selectedAssistant === 'kb') {
                        window.location.href = 'kb.html';
                    } else if (this.selectedAssistant === 'helper') {
                        window.location.href = 'helper.html';
                    } else if (this.selectedAssistant === 'copilot') {
                        window.location.href = 'copilot.html';
                    }
                },
                submitQuestion() {
                    let loadingMessage = this.$message({ // 显示提示信息
                        message: '正在提交，请稍等...',
                        type: 'info',
                        duration: 0, // 设置为0则不会自动关闭
                        showClose: true // 显示关闭按钮
                    });
                    fetch('http://' + this.host + ':5009/searchReq', {
                      method: 'POST',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        },
                        body: JSON.stringify({ question: this.question, count:this.questionCount, bp:this.bpflag, threshold:this.similarityThreshold})
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }                            
                            return response.json()
                        })
                        .then(data => {                            
                            this.tableData = data;
                            this.historyData.push({ question: this.question  +' ['+ (new Date().toLocaleTimeString()) +']', data: data});
                            serializedObject = JSON.stringify(this.historyData);
                            sessionStorage.setItem('reqhistory', serializedObject);//console.log(this.tableData)
                            loadingMessage.close();

                            this.$message({
                                message: `本次查询到了${this.tableData.length}条结果`,
                                type: 'success',
                                duration: 5000 // This is optional, adjust the duration as needed
                            });
                        })
                        .catch(error => {                            
                            this.$message({ // 显示提示信息
                                message: '网络错误',
                                type: 'error',
                                duration: 2000, // 设置为0则不会自动关闭
                                //showClose: true // 显示关闭按钮
                            });
                            console.error('Error:', error);
                        })
                        .finally(() => {
                            //this.isLoading = false; // 加载完成
                            setTimeout(() => {
                                this.$message.closeAll();
                            }, 3000);                                                                                   
                        });
                },
                decodeUnicode(str) {
                  str = str.replace(/\\/g, "%");
                  return decodeURIComponent(str);
                },
                handleChange(newValue) {
                    // 数字输入框值改变时的处理函数
                    console.log('问题数量改变为：', newValue);
                }                               
            },
            mounted() {
                this.checkLogin(); // 页面加载完成后立即检查登录状态
            },
            created() {
                // 组件创建完成后立即获取选项
                // this.fetchOptions();                
            }
        });
    </script>
</body>
</html>
